html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    /* font-family: 'font', sans-serif; */
    font-family: Arial, Verdana, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.logo {
    display: inline-block;
    margin-bottom: 50px;
}

.links {
    margin-bottom: 50px;
}

.link {
    display: inline-block;
    padding: 24px 49px;

    font-weight: 700;
    font-size: 18px;
    background-color: #3f2aff;
}

.link:not(:last-child) {
    margin-right: 25px;
}

.download-link {
    padding-left: 25px;
    font-weight: 700;
    font-size: 18px;
    color: #3f2aff;
    background-image: url("../img/download.png");
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.header1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #333;
}

.header2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}

.header3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 34px;
    color: #333;
}

.text {
    width: 872px;
    margin-top: 0;
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;

}

.gray-box {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    margin-bottom: 40px;
}

.gray-box:last-of-type {
    margin-bottom: 0;
}

.gray-box .text {
    width: 692px;
    margin-bottom: 10px;
}

.table-of-contents {
    padding-left: 15px;
}

.table-of-contents .list-item {
    display: table;
    color: #3f2aff;
    border-bottom: 1px solid #3f2aff;
    font-size: 20px;
}

.table-of-contents .list-item::marker {
    color: #3f2aff;
}

.table-of-contents .list-item:not(:last-child) {
    margin-bottom: 20px;
}

.image {
    margin-bottom: 40px;
}

.fig {
    display: inline-block;
    margin-bottom: 40px;
    width: 872;
    margin-left: 0;
    font-size: 0;
}

.fig .text {
    border: 1px solid #b6b6b6;
    border-top: 0;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.blue-text {
    border-radius: 20px;
    padding: 50px 95px 50px 95px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #3f2aff;
}

.gray-box-1 {
    background-image: url("../img/decorate-1.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.gray-box-2 {
    background-image: url("../img/decorate-2.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.modules-logo {
    width: 137px;
    height: 30px;
    display: block;
    margin-bottom: 25px;
}

.link-back {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #3F2AFF;
    background-image: url("../img/arrow-back.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}

.modules-header1 {
    display: block;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #3F2AFF;
    font-size: 60px;
    font-weight: 700;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0;
    margin: 0
}

.card {
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .15);
    width: 572px;
    height: 505px;
}

.card-img {
    margin: 0;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

.card-header {
    margin: 0;
    margin-left: 25px;
    margin-bottom: 5px;
    color: #3F2AFF;
    font-weight: 700;
    font-size: 40px;
}

.card-text {
    margin: 0;
    margin-left: 25px;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
}

.card-number {
    position: absolute;
    font-weight: 400;
    font-size: 40px;
    color: #EAEAEA;
    left: calc(100% - 70px);
    top: calc(100% - 70px)
}

.btn-class {
    margin: 0;
    display: flex;
    justify-content: center;
}

.btn-show-more {
    display: inline-block;
    border: 2px solid #3F2AFF;
    font-weight: 700;
    font-size: 18px;
    color: #3F2AFF;
    background-color: white;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
}